* {
  font-family: "Andika", sans-serif;
  color: #383433;
  padding: 0px;
  margin: 0px;
  box-sizing: 0px;
}
h4 {
  font-size: 14px;
}
h2 {
  font-size: 18px;
}

.completeCard {
  /* background-color: #2c925d; */
  outline: solid #ff3d00 3px;
  border-radius: 20px 20px 0px 0px;
  width: 33.33%;
  min-height: 40%;
  margin: 24px;
  text-align: center;
}

.upperName {
  background-color: #ff3d00;
  border-radius: 20px 20px 0px 0px;
  font-size: 16px;
  color: #fff;
}

.foodImg {
  width:55%;
  padding: 8px;
  border-radius:5px ;
}
